* {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Roboto', sans-serif;
    background:hsla(90, 5%, 84%,0.4);
    display:flex;
    flex-direction:column;
    align-items:center;
}

.ammpazon-title {
    background:#1E3D71;
    color:white;
    width: 100%;
    text-align:center;
    padding: 2rem 0;
    font-size: 2.5rem;
}

.results__list {
    width: 50%;
    padding: 0;
}

#js-select-analytics {
  font-size: 1.8em;
  margin-bottom: 1rem;
  margin-top: 2rem;
}

.analytics-item {
    background-color:#015A9E;
    color:white;
    padding:2.5rem;
    min-width: 100%;
    box-shadow: -1px 1px 3px grey;
    margin: 0.5em 0;
    list-style-type: none;
    margin-top: 0.5rem;
    display:flex;
    justify-content: space-between;
    font-size: 1.7rem;
}

.item__span {
    align-content:center;
}

.item__key {
  color: #ccc;
  font-weight: 200;
}
